* {
    margin: 0;
    padding: 0;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../imagenes/reel-fondo.jpg);
    width: 100%;
    background-size: cover;
    height: calc(100vh - 100px);
  }
