  header {
    background-color: $color-sec;
    border-bottom: black solid 2px;
    grid-area: header;
  }
  
  /* PAGINA DE INICIO */
  
  .imagen {
    height: 320px;
    width: 320px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px black solid;
    border-radius: 180px;
  }
  
  nav ul li {
    display: inline-block;
    list-style-type: none;
  
    a {
      text-decoration: none;
      color: $color-primario;
      font-size: $tamaño-font;
      margin-left: 20px;
      text-transform: uppercase;
    }
  }
  
  .titulo {
    color: $color-primario;
    font-size: $tamaño-tit;
  }
  