@import "_variables";
@import "_header";
@import "_body";
@import "_main";
@import "_footer";
@import "_categorias";
@import "_ubicacion";
@import "_consultas";

  /* APLICACION MEDIA QUERIES. */
  
  @media (max-width: 900px) and (min-width: 320px) {
    nav ul li a {
      display: none;
    }
  
    #servicios {
      flex-wrap: wrap;
    }
  
    .tarjetaPadre {
      display: grid;
      grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
    }
  }
  
  /* APLICACION DE ANIMACIONES Y GRADIANTES */
  
  .imagen {
    transition: height 0.5s, width 0.5s;
  
    &:hover {
      height: 380px;
      width: 390px;
    }
  }
  
  @keyframes texto {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100;
    }
  }
  
  .titulo {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  