* {
    margin: 0;
    padding: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../imagenes/reel-fondo.jpg);
    width: 100%;
    background-size: cover;
    height: calc(100vh - 100px);
  }
  
  header {
    height: 80px;
    background-color: blanchedalmond;
    border-bottom: black solid 2px;
    grid-area: header;
  }
  
  /* PAGINA DE INICIO */
  
  .imagen {
    height: 320px;
    width: 320px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px black solid;
    border-radius: 180px;
  }
  
  nav ul li {
    display: inline-block;
    list-style-type: none;
  
    a {
      text-decoration: none;
      color: coral;
      font-size: 1rem;
      margin-left: 20px;
      text-transform: uppercase;
    }
  }
  
  .titulo {
    color: coral;
    font-size: 2.5rem;
  }
  
  #servicios {
    margin-top: 300px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: servicios;
  }
  
  .caja {
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 3px 3px 3px;
    background-color: coral;
    text-align: center;
  }
  
  /* COMIENZO MENU INDEX */
  
  .menuIndex {
    background-color: blanchedalmond;
    border: 2px black solid;
    border-radius: 8px;
  }
  
  .tituloMenu {
    color: black;
  }
  
  /*FIN MENU INDEX */
  
  footer {
    grid-area: footer;
    border: black solid;
    border-radius: 4px;
    text-align: center;
    background-color: blanchedalmond;
    font-size: smaller;
  }
  
  /* PAGINA DE CATEGORIAS */
  
  #h2 {
    color: coral;
    font-weight: bolder;
  }
  
  .tituloCate {
    text-align: center;
    width: 250px;
    height: 40px;
  
    /* display: flex; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
    border: 2px black solid;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px;
  }
  
  .tarjeta {
    height: 350px;
    width: 350px;
    border: 2px black solid;
    border-radius: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 6px 6px 6px;
  }
  
  .uno {
    grid-area: uno;
    background-image: url(../imagenes/categorias/cat-cañas.jpg);
  }
  
  .dos {
    grid-area: dos;
    background-image: url(../imagenes/categorias/cat-señuelos.jpg);
  }
  
  .tres {
    grid-area: tres;
    background-image: url(../imagenes/categorias/cat-equipo.jpg);
  }
  
  .cuatro {
    grid-area: cuatro;
    background-image: url(../imagenes/categorias/cat-señuelos-dos.jpg);
  }
  
  .cinco {
    grid-area: cinco;
    background-image: url(../imagenes/categorias/cat-reels.jpg);
  }
  
  .seis {
    grid-area: seis;
    background-image: url(../imagenes/categorias/cat-reels-dos.jpg);
  }
  
  .tarjetaPadre {
    display: grid;
    grid-template-areas: "uno dos tres" "cuatro cinco seis";
    gap: 5rem;
  }
  
  /* PAGINA DE UBICACION */
  
  .hDos {
    text-align: center;
    width: 225px;
    height: 100px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
    border: 2px black solid;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px;
  }
  
  .hCuatro {
    text-align: center;
    width: 400px;
    height: 350px;
    border: 2px black solid;
    border-radius: 16px;
  
    /* display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    margin: auto;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px;
  }
  
  .ubiMapa {
    width: 600px;
    height: 450px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px;
  }
  
  /* PAGINA DE CONSULTAS */
  
  .cajaConsultas {
    width: 500px;
    height: 700px;
  
    /* display: flex; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  
  .cajaFieldset {
    text-align: center;
    border: 2px black solid;
    background-color: blanchedalmond;
    border-radius: 14px;
  }
  
  /* APLICACION MEDIA QUERIES. */
  
  @media (max-width: 900px) and (min-width: 320px) {
    nav ul li a {
      display: none;
    }
  
    #servicios {
      flex-wrap: wrap;
    }
  
    .tarjetaPadre {
      display: grid;
      grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
    }
  }
  
  /* APLICACION DE ANIMACIONES Y GRADIANTES */
  
  .imagen {
    transition: height 0.5s, width 0.5s;
  
    &:hover {
      height: 380px;
      width: 390px;
    }
  }
  
  @keyframes texto {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100;
    }
  }
  
  .titulo {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  