
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image:url(../imagenes/reel-fondo.jpg); width: 100%;
    background-size: cover;
    height: calc(100vh - 100px);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color:blanchedalmond;
    border-bottom: black solid 2px;
    grid-area: header;
}   

/* PAGINA DE INICIO */

.imagen {
    height: 320px;
    width: 320px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px black solid;
    border-radius: 180px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: coral;
    font-size: 1rem;
    margin-left: 20px;
    text-transform: uppercase;
}

.titulo {
    color: coral;
    font-size: 2.5rem;
}

#servicios {
    margin-top: 300px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: servicios;
}
.caja {
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 3px 3px 3px;
    background-color: coral;
    text-align: center;
}
.menu {
    display: grid;
    grid-template-areas: 
    "section aside"
    "section aside";

    gap: 5rem;
}
.section {
    grid-area: section;
    height: 100%;
    border: black solid;
    border-radius: 4px;
    background-color: blanchedalmond;
    text-align: center;
}

.aside {
    grid-area: aside;
    height: 100%;
    border: black solid;
    border-radius: 4px;
    background-color: blanchedalmond;
    text-align: center;
}

footer {
    grid-area: footer;
    border: black solid;
    border-radius: 4px;
    text-align: center;
    background-color: coral;
    font-size: smaller;
}

/* PAGINA DE CATEGORIAS */

#h2 {
    color: coral;
    font-weight: bolder;
}
.tituloCate {
    text-align: center;
    width: 200px;
    height: 40px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   
    border-radius: 50px;
    border: 2px black solid;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px;
}

.tarjeta {
    height: 350px;
    width: 350px;
    border: 2px black solid;
    border-radius: 50px;
    text-align: center;
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 6px 6px 6px;
}
.uno {
    grid-area: uno;
    background-image: url(../imagenes/categorias/cat-cañas.jpg);
}
.dos {
    grid-area: dos;
    background-image: url(../imagenes/categorias/cat-señuelos.jpg);
}
.tres {
    grid-area: tres;
    background-image: url(../imagenes/categorias/cat-equipo.jpg);
}
.cuatro {
    grid-area: cuatro;
    background-image: url(../imagenes/categorias/cat-señuelos-dos.jpg);
}
.cinco {
    grid-area: cinco;
    background-image: url(../imagenes/categorias/cat-reels.jpg);
}
.seis {
    grid-area: seis;
    background-image: url(../imagenes/categorias/cat-reels-dos.jpg);
}

.tarjetaPadre {
    display: grid;
    grid-template-areas: 

    "uno dos tres"
    "cuatro cinco seis";

    gap: 5rem;
}

/* PAGINA DE UBICACION */

.hDos {
    text-align: center;
    width: 200px;
    height: 60px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   
    border-radius: 50px;
    border: 2px black solid;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px;
}
.hCuatro {
    text-align: center;
    width: 400px;
    height: 125px;
    border: 2px black solid;
    border-radius: 16px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;  
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px; 
}
.ubiMapa {
    width: 600px;
    height: 450px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px; 
}

/* PAGINA DE CONSULTAS */

.cajaConsultas {
    width: 420px;
    height: 390px;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    align-items: center;
    justify-content: center;
}

.cajaFieldset {
    text-align: center;
    border: 2px black solid;
    background-color: blanchedalmond;
}

/* APLICACION MEDIA QUERIES. */

@media (max-width: 900px) and (min-width: 320px) {
    nav ul li a {
        display: none;
    }

    #servicios {
        flex-wrap: wrap;
    }

    .tarjetaPadre {
        display: grid;
        grid-template-areas: 
        "uno dos"
        "tres cuatro"
        "cinco seis";
    }
}
 /* APLICACION DE ANIMACIONES Y GRADIANTES */

 